@tailwind base;
@tailwind components;

*{
    box-sizing: border-box;
    height: fit-content;
    width: auto;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
